* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

.main-container {
  width: 100%;
  height: 100vh;
  transition: background 0.8s ease-in-out;
}

.navbar-container {
  width: 100%;
  height: 70px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  color: white;
}

.footer {
  position: fixed;
  /* always at the bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  z-index: 50;
}

.footer p {
  margin: 0;
}

.nav-links {
  display: flex;
  align-items: center;
}

.btn-menu {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.link-btn {
  margin-left: 20px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  color: white;
}

.horizontal-section-container {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-slide {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

@media (max-width: 1200px) {

  .btn-menu {
    display: block;
  }

  .nav-links.active {
    max-height: 400px;
  }

  .link-btn {
    color: white;
    margin: 15px 0;
    font-size: 18px;
  }

  .navbar-container {
    height: 60px;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}


/* background themes */
.bg-home {
  background: linear-gradient(135deg, #859398, #283048);
}

.bg-education {
  background: linear-gradient(135deg, #283048, #859398);
}

.bg-projects {
  background: linear-gradient(135deg, #859398, #283048);
}

.bg-experience {
  background: linear-gradient(135deg, #283048, #859398);
}

.bg-skills {
  background: linear-gradient(135deg, #859398, #283048);
}

.bg-certifications {
  background: linear-gradient(135deg, #283048, #859398);
}

.bg-training {
  background: linear-gradient(135deg, #859398, #283048);
}